@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 6px; 
    height: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #333;
    cursor: pointer;
  }
  /* fixed text wrap in pre tag while preserving whitespace and new line character */
  pre {
    font-family: 'Poppins', sans-serif;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }